* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: wheat;
    color: black;
  }
  
  .wrapper {
    width: 1280px;
    margin: 50px auto;
  }
  
  header {
    position: relative;
  
    .shop-cart {
      & .item {
        width: 100%;
        float: left;
        margin-bottom: 20px;
  
        .delete-icon {
          color: red;
          float: right;
          position: relative;
          top: -25px;
          cursor: pointer;
          transition: color 500ms ease;
  
          &:hover {
            color: red;
            transform: scale(1.5);
          }
        }
  
        img {
          width: 70px;
          float: left;
          margin-right: 20px;
        }
  
        h2 {
          font-size: 20px;
          margin-bottom: 10px;
        }
  
        p {
          color: #797979;
          font-weight: 600;
        }
      }
  
      .empty {
        h2 {
          font-size: 20px;
          margin-bottom: 20px;
        }
      }
    }
  
    .presentation {
      margin: 50px 0;
      background: url('../../public/img/Main.jpg');
      width: 100%;
      height: 500px;
      background-size: cover;
      background-position: center center;
      background-blend-mode: multiply;
      background-color: #bcbcbc;
    }
  
    ul.nav {
      float: right;
      list-style: none;
  
      li {
        display: flex;
        margin-left: 25px;
        cursor: pointer;
  
        &:hover {
          opacity: 0.5;
        }
      }
    }
  
    .shop-cart-button {
      float: right;
      cursor: pointer;
      transition: pointer, color, transform 500ms ease;
  
      &:hover,
      &.active {
        color: red;
      }
    }
  
    .shop-cart {
      position: absolute;
      top: 30px;
      right: 0;
      width: 450px;
      min-height: 100px;
      background: #fafafa;
      -webkit-box-shadow: 4px 5px 15px -7px #606060;
      box-shadow: 4px 5px 15px -7px #606060;
      z-index: 100%;
  
      padding: 20px;
      padding-bottom: 0;
    }
  }
  
  .site-footer {
    background-color: wheat;
    color: #4a4a4a;
    padding: 40px 20px;
  }
  
  .large-up--grid--table {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-left: 0;
  }
  
  footer {
    text-align: center;
    margin-top: 10px;
  }
  
  ul.nav {
    float: right;
    list-style: none;
  
    li {
      display: inline;
      margin-left: 25px;
      cursor: pointer;
      transition: oppacity 50px;
    }
  }
  
  main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  
    .item {
      width: 30%;
      margin-bottom: 50px;
      background: #bcbcbc;
      overflow: hidden;
      position: relative;
      padding-bottom: 20px;
  
      img:hover, .full-item img:hover {
        transform: scale(1.05);
      }
  
      .add-to-cart {
        position: absolute;
        right: 20px;
        bottom: 20px;
        background: red;
        width: 35px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        color: #bcbcbc;
        border-radius: 50%;
        cursor: pointer;
        font-weight: 600;
        transition: transform 500ms ease;
  
        &:hover {
          transform: scale(1.5) translateY(-5px);
        }
      }
  
      img {
        width: 100%;
        border-radius: 10px 10px 0 0;
        cursor: pointer;
      }
    }
  
    .full-item {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.8);
      z-index: 9999;
      overflow: auto;
  
      > div {
        width: 600px;
        position: relative;
        margin: 10% auto;
        padding: 40px 30px;
        background: #fff;
        border-radius: 9px;
      }
  
      .presentation::after {
        content: 'Стиль начинается здесь.';
        position: absolute;
        top: 140px;
        left: 80px;
        font-size: 40px;
        color: #f4f4f4;
        font-weight: 600;
      }
  
      h2,
      p,
      b {
        margin: 10px 20px;
        color: #333;
      }
  
      b {
        color: #535353;
      }
    }
  }
  
  .categories {
    div {
      display: inline-block;
      background: gray;
      border-radius: 50px;
      padding: 10px 20px;
      margin-bottom: 25px;
      margin-right: 15px;
      cursor: pointer;
      border: 1px solid transparent;
      transition: all 500ms ease;
  
      &:hover {
        border-color: silver;
        transform: scale(1.1);
      }
    }
  
    .presentation::before {
      content: 'Низкие цены!';
      position: absolute;
      top: 200px;
      left: 100px;
      width: 300px;
      font-size: 40px;
      font-weight: 300;
      color: white;
    }
  }
  